html, body{
  font-family:Roboto;
}
.sec{
  padding: 0 var(--16);
   max-width: var(--full);
   }
ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: #999;
}
p{
  font-family: Darker Grotesque;
}