html, body{
  font-family:Roboto;
}
.sec{
  padding-left: var(--12);
}
ul{
  list-style: none;
}
h2{
  font-size: 30px;
}
a{
  text-decoration: none;
  color: #999;
}
p{
  font-family: Darker Grotesque;
}